

$base-font-color: #f8f8f8;

$black: rgba(1,1,1,.85);
$blue: #6aaac3;

// AMAZON S3 BUCKET
$img-src: "http://projects.plattebasintimelapse.com/assets/static/images/ftw";

$vig-container-width: 768px;