.main-app { padding:0; }

#map {
	width: 100%;
	z-index: 1;
}

.above-map { z-index: 1030; }

/***********************
**** NAVIGATION *****
***********************/
nav {
    background: $black;
    padding: 0 6px;
    @include box-shadow(4px, 4px, 20px);
}

.main-menu {
	position: fixed;
	left: 50%;
	top: 0;
	@extend .above-map;
	width: 450px;
	margin-left: -225px;
	// @include box-shadow(4px, 4px, 20px);
}


/***********************
**** MAIN CONTENT *****
***********************/

.main {
	position: fixed;
	width:100%;
	bottom: 0;
	background-color: $black;
	color: $base-font-color;
	padding: 15px;
	@extend .above-map;
	@include box-shadow(4px, 4px, 20px);
}

.main-toggle {
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -25px;
	cursor: pointer;

	i { @include text-shadow(4px, 4px, 20px); }
	p { @include text-shadow(4px, 4px, 20px); }
}

header {
	border-bottom: 1px solid white;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.main-content {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}

/***********************
******* SIDEBAR  *******
***********************/

.sidebar {
	position: absolute;
	left: 20px;
	top: 30%;
	background-color: $black;
	color: $base-font-color;
	@extend .above-map;
}

/***********************
**** INLINE MEDIA  *****
***********************/

.inline-media {
	float:right;
	margin-right: -150px;
	@include breakpoint(mama-bear) {
		margin-right: 0;
	}
	@include breakpoint(baby-bear) {
		width: 100%;
		margin-right: 0;
	}
}

.inline-media-ex-large {
	@extend .inline-media;
	width: 85%;
	@include breakpoint(mama-bear) {
		width: 100%;
	}
}

.inline-media-large {
	@extend .inline-media;
	width: 75%;
	@include breakpoint(mama-bear) {
		width: 100%;
	}
}

.inline-media-medium {
	@extend .inline-media;
	width: 60%;
}
.inline-media-small {
	@extend .inline-media;
	width: 50%;
}

.inline-media-wrapper {
	padding-top: 25px;
	margin: 10px 20px;

	@include breakpoint(mama-bear) {
		margin: 5px 0;
		padding: 0;
	}
}

.image-caption {
	display: block;
	line-height: 1.2em;
	width: 100%;
	padding: 5px 0px;
}