.main-app { padding:0; overflow: hidden; }

#map {
	width: 100%;
	z-index: 1;
}

/***********************
**** NAVIGATION *****
***********************/
nav.navbar-default {
    background-color: $black;
    padding: 0 6px;
    @include box-shadow(4px, 4px, 20px);
}

.main-menu {
	position: fixed;
	left: 50%;
	top: 0;
	@extend .above-map;
	width: 500px;
	margin-left: -250px;
	@include breakpoint(baby-bear) {
		position: relative;
		width:100%;
		left: 0;
		margin:0;
	}
}


/***********************
**** MAIN CONTENT *****
***********************/

.main {
	position: fixed;
	width:100%;
	bottom: -10000px;
	background-color: $black;
	color: $base-font-color;
	@extend .above-map;
	@include box-shadow(4px, 4px, 20px);
}

.main-toggle {
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -25px;
	cursor: pointer;

	i { @include text-shadow(4px, 4px, 20px); }
	p { @include text-shadow(4px, 4px, 20px); }
}

header {
	border-bottom: 1px solid white;
	margin-bottom: 10px;
	padding: 15px;
}

.main .content-meta {
	padding-left: 15px;
}

header .main-scroller-prompt { margin-top: 25px; @include breakpoint(mama-bear) { display: none; } }

.main header .main-scroller { margin: 0; display: none; i { vertical-align: -5%; } }

.main-content {
    overflow: scroll;

	.main-content-wrapper {
		width: 900px;
		margin: 0 auto 50px auto;
	}
}

/*********************
*** POPUP CONETNT  ***
*********************/

.vig-popup .leaflet-popup-content .row { margin: 0; }

/*********************
******* PANEL  *******
*********************/

.panel {
	position: absolute;
	background-color: $black;
	color: $base-font-color;
	@extend .above-map;
}

.panel-wrapper {
	padding: 10px;
}

.panel-title { margin: 0; }

/**********************
******* TOGGLE  *******
**********************/

.toggle {
	right: -300px;
	top: 30%;
	@include breakpoint(mama-bear) { top: 15%; }
	@include breakpoint(baby-bear) { top: 10%; }
	width: 300px;
	.toggle-btn {
		@extend .panel;
		left: -121px;
		top: 175px;
		-ms-transform: rotate(270deg); /* IE 9 */
	    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	    transform: rotate(270deg);
	    border-top-left-radius:8px;
		border-top-right-radius:8px;
		border-bottom-right-radius:0;
		border-bottom-left-radius:0;

		cursor: pointer;
	}
}

/***********************
****** INSET MAP  ******
***********************/

.inset {
	right: 20px;
	bottom: 80px;
	background-color: transparent;
	width: 20%;
	max-width: 180px;
}

/**************************
****** INSTRUCTIONS  ******
**************************/

.instructions {
	left: 30px;
	bottom: 90px;
	max-width: 300px;
}

/***********************
**** INLINE MEDIA  *****
***********************/

img { width: 100%; height: auto; }

.inline-media {
	&.inline-media-right { float:right; padding-right:0; }
	&.inline-media-left { float:left; padding-left:0; }
	@include breakpoint(mama-bear) {
		margin-right: 0;
	}
	@include breakpoint(baby-bear) {
		width: 100%;
		margin-right: 0;
		float: none;
	}
}

.inline-media-ex-large {
	@extend .inline-media;
	width: 85%;
	@include breakpoint(mama-bear) {
		width: 100%;
	}
}

.inline-media-large {
	@extend .inline-media;
	width: 75%;
	@include breakpoint(mama-bear) {
		width: 100%;
	}
}

.inline-media-medium {
	@extend .inline-media;
	width: 60%;
}
.inline-media-small {
	@extend .inline-media;
	width: 50%;
}

.inline-media-extend { margin-right: -100px; }

.inline-media-wrapper {
	padding-top: 0;
	margin: 10px 20px;

	@include breakpoint(mama-bear) {
		margin: 5px 0;
		padding: 0;
	}
}

.inline-media-left .inline-media-wrapper { margin-left: 0; }

.image-caption {
	display: block;
	width: 100%;
	padding: 5px 0px;
}

.inline-video {
	@include breakpoint(mama-bear) {
		width: 100%;
		margin: 30px 0;
		.inline-media-wrapper {
			border: none;
		}
	}

	-webkit-transition: width 300ms linear;
    -moz-transition: width 300ms linear;
    -o-transition: width 300ms linear;
    transition: width 300ms linear;

    &.playing-inline-video {
    	width: 130%;

    	@include breakpoint(mama-bear) {
			width: 100%;
		}
    	.inline-media-wrapper {
    		border: none;
    	}
    }
}