.main-app { padding:0; }

#map {
	width: 100%;
	z-index: 1;
}

/***********************
**** NAVIGATION *****
***********************/
nav {
    background: $black;
    padding: 0 6px;
    @include box-shadow(4px, 4px, 20px);
}

.main-menu {
	position: fixed;
	left: 50%;
	top: 0;
	@extend .above-map;
	width: 450px;
	margin-left: -225px;
	// @include box-shadow(4px, 4px, 20px);
}


/***********************
**** MAIN CONTENT *****
***********************/

.main {
	position: fixed;
	width:100%;
	bottom: -10000px;
	background-color: $black;
	color: $base-font-color;
	padding: 15px 15px 0 15px;
	@extend .above-map;
	@include box-shadow(4px, 4px, 20px);
}

.main-toggle {
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -25px;
	cursor: pointer;

	i { @include text-shadow(4px, 4px, 20px); }
	p { @include text-shadow(4px, 4px, 20px); }
}

header {
	border-bottom: 1px solid white;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

header .main-scroller-prompt { margin-top: 25px; @include breakpoint(mama-bear) { display: none; } }

.main header .main-scroller { margin: 0; display: none; i { vertical-align: -5%; } }

.main-content {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    overflow: scroll;
	height: 400px;

	@include breakpoint(papa-bear) {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 20px; /* Firefox */
	    column-gap: 20px;
	    overflow: scroll;
		height: 300px;
	}

	@include breakpoint(mama-bear) {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 20px; /* Firefox */
	    column-gap: 20px;
	    overflow: scroll;
		height: 300px;
	}
}

/***********************
******* SIDEBAR  *******
***********************/

.sidebar {
	position: absolute;
	right: 20px;
	top: 30%;
	background-color: $black;
	color: $base-font-color;
	@extend .above-map;
}

.sidebar-wrapper {
	padding: 15px;
}

/***********************
****** INSET MAP  ******
***********************/

.inset {
	position: absolute;
	right: 20px;
	bottom: 100px;
	@extend .above-map;

	img { width: 180px; height: auto; }
}

/***********************
**** INLINE MEDIA  *****
***********************/

.inline-media {
	&.inline-media-right { float:right; padding-right:0; }
	&.inline-media-left { float:left; padding-left:0; }
	@include breakpoint(mama-bear) {
		margin-right: 0;
	}
	@include breakpoint(baby-bear) {
		width: 100%;
		margin-right: 0;
	}
}

.inline-media-ex-large {
	@extend .inline-media;
	width: 85%;
	@include breakpoint(mama-bear) {
		width: 100%;
	}
}

.inline-media-large {
	@extend .inline-media;
	width: 75%;
	@include breakpoint(mama-bear) {
		width: 100%;
	}
}

.inline-media-medium {
	@extend .inline-media;
	width: 60%;
}
.inline-media-small {
	@extend .inline-media;
	width: 50%;
}

.inline-media-extend { margin-right: -100px; }

.inline-media-wrapper {
	padding-top: 0;
	margin: 10px 20px;

	@include breakpoint(mama-bear) {
		margin: 5px 0;
		padding: 0;
	}
}

.inline-media-left .inline-media-wrapper { margin-left: 0; }

.image-caption {
	display: block;
	width: 100%;
	padding: 5px 0px;
}

.inline-video {
	@include breakpoint(mama-bear) {
		width: 100%;
		margin: 30px 0;
		.inline-media-wrapper {
			border: none;
		}
	}

	-webkit-transition: width 300ms linear;
    -moz-transition: width 300ms linear;
    -o-transition: width 300ms linear;
    transition: width 300ms linear;

    &.playing-inline-video {
    	width: 130%;

    	@include breakpoint(mama-bear) {
			width: 100%;
		}
    	.inline-media-wrapper {
    		border: none;
    	}
    }
}