body.intro {
	background: url(../images/full/full.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#main-title {
	position: absolute;
    $main-width: 800px;
    @include breakpoint(mama-bear) { width: 600px; margin-left: -(300px); top: 5%;}
    @include breakpoint(baby-bear) { width: 100%; margin-left: 0; left: 0; top: 10%;}
    width: $main-width;
    left: 50%;
    top: 20%;
    margin-left: -($main-width/2);
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 200px;
    text-align: center;
}

#main-title {
    h1 {
    	font-size: 5em;
    	color: white;
    	font-weight: 700;
    	text-shadow: 4px 4px 4px black;
        // @include breakpoint(mama-bear) { font-size: 2.4em; margin-bottom: 0px; margin-top: 5px;}
        // @include breakpoint(baby-bear) { font-size: 1.8em; margin-top: 5px;}
    }

    p {
        font-size: 2.2em;
    	color: white;
    	text-shadow: 4px 4px 4px black;
    }

    h5 {
    	color: white;
    	text-shadow: 4px 4px 4px black;
    	font-size: 1.2em;
    }
}

.intro .btn-default, .intro .btn-default:focus {
    background-color:transparent;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border: 2px solid white;
}

.btn-default:hover, .btn-default:active {
    // color: $blue;
    border-color: $blue;
    background-color: rgba(255,255,255,.2);
}