.above-map { z-index: 1030; }

#map .leaflet-control-container { top: 60px; position: absolute; }

#map .leaflet-bar a, .leaflet-bar a:hover {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

#map .leaflet-bar a.leaflet-disabled {
	background-color: rgba(28,16,6,.5);
}

#map .leaflet-bar a:hover {
	background-color: $blue;
}
#map .leaflet-bar a, #map .leaflet-bar a {
	background-color: $black;
	color: $base-font-color;
}

#map .leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: rgba(28,16,6,.5);
	color: #bbb;
}