.nav-button {
    cursor: pointer;
    display:inline-block;
    text-transform: uppercase;
    margin: 6px;

    &:hover {
    	color: $blue;
    }
}

.navbar-toggle {
    float:left;
    margin-left: 10px;
}

#credits-modal {

    .modal-dialog {
        margin-top: 10%;
        @include breakpoint(baby-bear) { margin-top: 30%; }
        @include breakpoint(mama-bear) { margin-top: 15%; }
    }

    .modal-title {
        text-transform: uppercase;
    }

	.modal-header {
		background-color: black;
		color: white;
		font-weight: bold;
		.close {color:white;opacity:1;}
	}

	.credits {
		margin-bottom: 10px;
		font-size:1.2em;
		text-transform: uppercase;
        &.team { margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid lightgray; }
	}
    .speical-thanks {
        margin-bottom: 10px;
    }
	.credit {
		font-size: 1em;
		line-height: .6em;
        margin-bottom: 0;

        &.small { font-size: .6em; }
        .name {
            font-size:1.4em;
            line-height: 1.3em;
        }
	}
    .thanks {
        line-height: 1.1em;
        font-size: .7em;
    }
    a {
        color: black;
        &:hover {
            color: $blue;
        }
    }
}

footer a:hover {
	color: $blue;
}

