.container {
	max-width: $vig-container-width;
}

.container-fluid {
	width:100%;
}

.container-large {
	max-width: $vig-container-width * 1.5;
}

section {
	width:100%;
	padding: 40px 0;
	@include breakpoint(baby-bear) {
		padding: 10px 0;
	}
	background-color:white;
	margin: 0 auto;
	position: relative;
}

section:first-child {
	padding-top: 0;
}

section:last-child {
	padding-bottom: 100px !important;
}

section.no-padding {
	padding: 0;
}

section.loading { text-align:center; padding: 100px 0; }

section.title { text-align:center; padding-bottom: 0; }

section.title.image-featured {
	h1 {
		position: absolute;
		top: 10%;
		left: 50%;
		width: $vig-container-width;
		margin-left: -($vig-container-width/2);
	}
}

section.copy { width:100%; max-width: $vig-container-width; &.narrow { max-width: $vig-container-width / 2; } }

section.audio { height: 150px; }

section.image-featured, section.full-width {
	width: 100%;
	.container-fluid { padding: 0; }
}

section.video-featured { .container { max-width: $vig-container-width * 1.4;} }

.image-featured-behind-large {
	height: 900px;
	@include breakpoint(papa-bear) {
		height: 800px;
	}
	@include breakpoint(mama-bear) {
		height: 600px;
	}
	@include breakpoint(baby-bear) {
		height: 400px;
	}
}
.image-featured-behind-small {
	height: 800px;
	@include breakpoint(papa-bear) {
		height: 700px;
	}
	@include breakpoint(mama-bear) {
		height: 500px;
	}
	@include breakpoint(baby-bear) {
		height: 300px;
	}
}

section.featured-image-behind-series {  }

.video-wrapper-16-9 {
	position: relative;
	padding-bottom: 54.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper-3-2 {
	position: relative;
	padding-bottom: 64%;
	padding-top: 25px;
	height: 0;
}
.vid-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}