.vig-meta {
	padding: 5px 30px;
	border-bottom: 1px solid gray;
	font-style: italic;
}

.owner-toggle {
	display: block;
	padding: 4px;
	margin: 6px 0;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -ms-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
	&:hover {
		opacity: .7;
	}
}
.owner-toggle.off { background-color: lightgray !important; }
.owner-toggle p { margin:0; }

