// DELETE WHEN READY TO LAUNCH PART THREE
nav.navbar-default .main-menu li:last-child a {
  	color: lightgray;
  	background-color: rgba(28,16,6,.6);
}

.owner-toggle {
	display: block;
	padding: 4px;
	margin: 6px 0;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -ms-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
	&:hover {
		opacity: .7;
	}
}
.owner-toggle.off { background-color: lightgray !important; }
.owner-toggle p { margin:0; }

.new-wrapper {
opacity: 1;
border-radius: 10px;
-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
position: relative;
z-index: 10090;
}

.new-ribbon-wrapper {
width: 85px;
height: 88px;
overflow: hidden;
position: absolute;
top: -10px;
left: -10px;
z-index: 10;
}

.new-ribbon {
color: #333;
text-align: center;
text-shadow: rgba(0, 0, 0, 1) 1px 3px 5px;
-webkit-transform: rotate(-45deg);
-moz-transform:    rotate(-45deg);
-ms-transform:     rotate(-45deg);
-o-transform:      rotate(-45deg);
position: relative;
padding: 3px 0;
right: 30px;
top: 15px;
width: 120px;
background-color: #DC5B31;
color: $base-font-color;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.6);
 box-shadow:         0px 0px 3px rgba(0,0,0,0.6);
}

.new-ribbon:before, .new-ribbon:after {
content: "";
border-top:   3px solid #6e8900;   
border-left:  3px solid transparent;
 border-right: 3px solid transparent;
position:absolute;
bottom: -3px;
}

.new-ribbon:before {
right: 0;
}
.new-ribbon:after {
 left: 0;
}

#bridge-comparison h2, #bridge-comparison h1 { font-weight: bold; text-align: center; }
#bridge-comparison h4 { font-style: italic; text-align: center; }

.big-ole-video { width: 100%; }

.vig-popup.square .leaflet-popup-content { width: 90px !important; }
.vig-popup.video .leaflet-popup-content, .vig-popup.map .leaflet-popup-content, .vig-popup.audio .leaflet-popup-content { width: 90px !important; }
.vig-popup .atop-icon { position: absolute; left: 50%; top: 5%; width: 26px; margin-left:-13px; opacity: .8; }
.vig-popup.audio .atop-icon { top: 15%; }