// DELETE WHEN READY TO LAUNCH PART THREE
// nav.navbar-default .main-menu li:last-child a {
//   	color: lightgray;
//   	background-color: rgba(28,16,6,.6);
// }

.owner-toggle {
	display: block;
	padding: 4px;
	margin: 6px 0;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -ms-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
	&:hover {
		opacity: .7;
	}
}
.owner-toggle.off { background-color: lightgray !important; }
.owner-toggle p { margin:0; }

.new-wrapper {
opacity: 1;
border-radius: 10px;
-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
position: relative;
z-index: 10090;
}

.new-ribbon-wrapper {
width: 85px;
height: 88px;
overflow: hidden;
position: absolute;
top: -10px;
left: -10px;
z-index: 10;
}

.new-ribbon {
color: #333;
text-align: center;
text-shadow: rgba(0, 0, 0, 1) 1px 3px 5px;
-webkit-transform: rotate(-45deg);
-moz-transform:    rotate(-45deg);
-ms-transform:     rotate(-45deg);
-o-transform:      rotate(-45deg);
position: relative;
padding: 3px 0;
right: 30px;
top: 15px;
width: 120px;
background-color: #DC5B31;
color: $base-font-color;
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.6);
 box-shadow:         0px 0px 3px rgba(0,0,0,0.6);
}

.new-ribbon:before, .new-ribbon:after {
content: "";
border-top:   3px solid #6e8900;
border-left:  3px solid transparent;
 border-right: 3px solid transparent;
position:absolute;
bottom: -3px;
}

.new-ribbon:before {
right: 0;
}
.new-ribbon:after {
 left: 0;
}

#bridge-comparison h2, #bridge-comparison h1 { font-weight: bold; text-align: center; }
#bridge-comparison h4 { font-style: italic; text-align: center; }

.big-ole-video { width: 100%; }

.vig-popup.square .leaflet-popup-content { width: 90px !important; }
.vig-popup.video .leaflet-popup-content, .vig-popup.map .leaflet-popup-content, .vig-popup.audio .leaflet-popup-content { width: 90px !important; }
.vig-popup .atop-icon { position: absolute; left: 50%; top: 5%; width: 26px; margin-left:-13px; opacity: .8; }
.vig-popup.audio .atop-icon { top: 15%; }

#coming-soon-modal {
	h2 { margin-top: 0; }
	.modal-dialog { width: 450px; }
}

.bx-wrapper {
	box-shadow: none;
	background: transparent;
	li .row {
		// margin-left: 0;
		// margin-right: 0;
	}
}

#elm-creek-maps.interactive .bxslider .row { background-color: #eee; }

#elm-creek-maps.interactive .bxslider h1 { border-bottom: 1px solid gray; }

.img-link {
	position: absolute;
}

.link-text {
	color: $blue;
	cursor: pointer;
}

.dot {
    border: 4px solid white;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-color: rgba(0,0,0,.1);
    height: 22px;
    width: 22px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.3;
	cursor: pointer;

	&:before {
		content: " ";
		position: absolute;
		z-index: -1;
		top: -13px;
		left: -13px;
		height: 40px;
		width: 40px;
		border: 4px solid white;
		-webkit-border-radius: 30px;
    	border-radius: 30px;
	}

	&.on-hover, &:hover, &.on-hover:before, &:hover:before { border-color: $blue; }
}

.popover {
	width: 200px;
}

.slide-notes {
	padding-right: 30px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.6, 0.6); opacity: 0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0;}
}

@keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0;}
}

.bx-wrapper .bx-pager {
	font-size: 2em;
	font-family: $font-family;
	color: #666;
	padding-top: 0;
	background-color: #eee;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: -80px;
}

.bx-wrapper .bx-pager-item {
	font-size: inherit;
	line-height: inherit;
	text-indent: 0;
	width: 25%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.bx-wrapper .bx-pager.bx-custom-pager a {
	background: transparent;
	display: block;
	text-indent: 0;
	height: 40px;
	width:100%;
	margin: 0;
	border-radius: 0;
	color: #525252;
	&:hover, &.active { background: $blue; color: white; }
}

.interactive-credit {
	position: relative;
	top: 16px;
	font-size: 10px;
	font-style: italic;
	text-align: right;
}






























