body { font-family: $font-family; }

h1 { font-weight: 700; }

a, a.visited {
	color: $base-font-color;
	&:hover {
		color: $blue;
		text-decoration: none;
	}
}

p { font-size: 22px;
	@include breakpoint(papa-bear) { font-size: 20px; }
	@include breakpoint(mama-bear) { font-size: 18px; }
	@include breakpoint(baby-bear) { font-size: 16px; }
}

.copy p { max-width: $vig-container-width; }

body.intro { text-align: center; }

nav { color: $base-font-color; }

nav #title h4 {
	font-size: 1.4em;
	font-weight: 700;
}

.light-font { color: $base-font-color; }

.dark-font { color: black; }

nav.navbar-default .main-menu {
	h1,h2 { text-align: center; margin: 0; }
	h1 { font-size: 2.2em; font-style: italic; @include breakpoint(baby-bear) { font-size: 1.6em; } }
	h2 { font-size: 1.4em; @include breakpoint(baby-bear) { font-size: 1.2em; } }
	li { &:first-child a { border-bottom-left-radius: 8px; } &:last-child a { border-bottom-right-radius: 8px; } }
	li a {
		color: $base-font-color;
		background-color: $black;

		@include breakpoint(baby-bear) { background-color: transparent; }
		&:hover, &.active {
			color: $base-font-color;
			background-color: $blue;
		}
	}
}

.navbar-default .navbar-toggle .icon-bar { background-color: $base-font-color; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: $blue; }

.main {
	h1 {
		text-transform: uppercase;
		font-style: italic;
		font-size: 3.8em;
		margin-right: 20px;
		@include breakpoint(papa-bear) { font-size: 3.0em; }
		@include breakpoint(mama-bear) { font-size: 2.6em; }
		@include breakpoint(baby-bear) { font-size: 1.8em; }
	}
	h2 {
		font-size: 1.8em;
		width: 40%;
		@include breakpoint(papa-bear) { font-size: 1.4em; }
		@include breakpoint(mama-bear) { font-size: 1.2em; }
		@include breakpoint(baby-bear) { font-size: 1.0em; }
	}
	h1,h2 {
		display:inline-block;
		margin-bottom: 0;
		margin-top: 0;
	}
	font-weight: 400;

}

.panel p { font-size: 1.2em; }

.panel .panel-title { font-size: 1.4em; text-align: center; }

.panel.instructions p { font-size: 1em; }

.panel.instructions p:last-child { font-size: .7em; font-style: italic; margin-bottom: 0; text-align: right; }

.panel.instructions .panel-title { font-size: 2em; text-align: left; margin-bottom: .4em; }

.panel.toggle p { text-align: center; line-height: 1.2em; }

.panel.toggle .toggle-btn h4 { margin: 5px 10px; }

.main-toggle {
	color: $black;
	text-align:center;
	font-size: 1.4em;
	&:hover { color: $blue; p { color: $blue;} }
	p { font-size: 1em;}
	&.not-yet-opened { -webkit-animation: bob 1s ease-in-out infinite; animation: bob 1s ease-in-out infinite; }
}

@-webkit-keyframes bob {
    0% {top: -80px;}
    50% {top: -95px;}
    100% {top: -80px;}
}

/* Standard syntax */
@keyframes bob {
    0% {top: -80px;}
    50% {top: -95px;}
    100% {top: -80px;}
}

@-webkit-keyframes bobMargin {
    0% {margin-top: 15px;}
    50% {margin-top: 25px;}
    100% {margin-top: 15px;}
}

/* Standard syntax */
@keyframes bobMargin {
    0% {margin-top: 15px;}
    50% {margin-top: 25px;}
    100% {margin-top: 15px;}
}

.main-scroller-prompt { -webkit-animation: bobMargin 1s ease-in-out infinite; animation: bobMargin 1s ease-in-out infinite; }

.vig-popup .leaflet-popup-content p {
	margin: 0 0 10px 0;
	font-size: 1.3em;
}

.vig-popup .leaflet-popup-content .title { margin-top: 0; font-size: 1.4em; margin-bottom: 6px; font-weight: 200; }

section.title h1 { font-size: 4em; }
section.title.image-featured h1 {
	font-size: 5em;
	color: white;
	text-shadow: 4px 4px 4px #2e2e2e;
	@include breakpoint(mama-bear) { font-size: 2em; }
	@include breakpoint(baby-bear) { font-size: 1.4em; }
}

.content-meta p {
	font-size: 1em;
	font-style: italic;
}

.image-caption {
	font-size: 1.1em;
	&.image-caption-right { text-align: right; }
	&.image-caption-left { text-align: left; }
}

.image-large .image-caption {
	padding: 5px 0px;
}

.image-featured .image-caption {
	padding: 5px 20px;
}

