body {
  	font-family: 'Proxima Nova', sans-serif;
}

h1 { font-weight: 900; }

a, a.visited {
	color: $base-font-color;
	&:hover {
		color: $blue;
		text-decoration: none;
	}
}

p { font-size: 22px; }

.copy p { max-width: $vig-container-width; }

nav { color: $base-font-color; }

nav #title h4 {
	font-size: 1.4em;
	font-weight: 700;
}

.light-font { color: $base-font-color; }

.dark-font { color: black; }

.main-menu {
	h1,h2 { text-align: center; margin: 0; }
	h1 { font-size: 2.2em; font-style:italic; }
	h2 { font-size: 1.4em; }
	li a { color: $base-font-color; background-color: $black; &:hover, &.active { background-color: $blue; } }
}

.main {
	h1 {
		text-transform: uppercase;
		font-style: italic;
		font-size: 3.8em;
		margin-right: 20px;
	}
	h2 {
		font-size: 1.8em;
	}
	h1,h2 {
		display:inline;
		margin-bottom: 20px;
	}
	font-weight: regular;

}

.main-toggle {
	color: $black;
	text-align:center;
	font-size: 1.4em;
	&:hover { color: $blue; p { color: $blue;} }
	p { font-size: 1em;}
}

.vig-popup .leaflet-popup-content p {
	margin: 0 0 10px 0;
	font-size: 1.3em;
}

.content-meta p {
	font-size: 1em;
	font-style: italic;
}

.image-caption {
	font-size: 1.2em;
	&.image-caption-right { text-align: right; }
	&.image-caption-left { text-align: left; }
}

.image-large .image-caption {
	padding: 5px 0px;
}

.image-featured .image-caption {
	padding: 5px 20px;
}

