.vig-popup .leaflet-popup-content {
	margin: 7px;
}

.vig-popup .leaflet-popup-content-wrapper, .vig-popup .leaflet-popup-tip {
	background-color: black;
	color: white;
	cursor: pointer;
}

.vig-popup .leaflet-popup-content-wrapper:hover, .vig-popup .leaflet-popup-tip:hover {
	img { opacity: .1; }
	h3 { display: block; }
}

.vig-popup .col-xs-6 {
	padding-left: 5px;
	padding-right: 5px;
}

.vig-modal .modal-dialog {
	width: 85%;
	max-width: 1300px;
	margin: 40px auto 100px auto;
	@include breakpoint(baby-bear) { width: 100%; }
}

.close {
	font-size: 52px;
	font-weight: normal;
	opacity: .6;
	margin: 0 15px;
}

.vig-close {
	margin: 0 auto;
	width: 200px;
	font-size: 2em;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	bottom: -18px;
	background-color: $blue;
	color: white;
}

.vig-close:hover {
	color: $blue;
	background-color: white;
	border: 1px solid $blue;
}