
@mixin box-shadow($top, $left, $blur) {
    -webkit-box-shadow: $top $left $blur 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: $top $left $blur 8px rgba(0, 0, 0, 0.5);
    box-shadow: $top $left $blur 8px rgba(0, 0, 0, 0.5);
}

@mixin text-shadow($top, $left, $blur) {
    text-shadow: $top $left $blur gray;
}