        <!-- build:js ../scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../../../bower_components/jquery/dist/jquery.js"></script>
        <script src="../../../bower_components/modernizr/modernizr.js"></script>
        <script src="../../../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="../../../bower_components/jquery-ui/jquery-ui.js"></script>
        <script src="../../../bower_components/leaflet/dist/leaflet.js"></script>
        <script src="../../../bower_components/leaflet/dist/leaflet-src.js"></script>
        <script src="../../../bower_components/fancybox/source/jquery.fancybox.js"></script>
        <script src="../../../bower_components/jplayer/dist/jplayer/jquery.jplayer.js"></script>
        <script src="../../../bower_components/vimeo-player-api/javascript/froogaloop.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js ../scripts/plugins.js -->
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) ../scripts/main.js -->
        <script src="../../scripts/models/vig.js"></script>
        <script src="../../scripts/controllers/main.js"></script>
        <script src="../../scripts/mapping.js"></script>
        <script src="../../scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>