<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
		<title>{{title}} | PBT</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, user-scalable=0, minimal-ui">
		<link rel="shortcut icon" href="../favicon.ico">

		<!-- build:css ../styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="../bower_components/fancybox/source/jquery.fancybox.css" />
        <link rel="stylesheet" href="../bower_components/fullpage.js/jquery.fullPage.css" />
        <link rel="stylesheet" href="../bower_components/twentytwenty/css/twentytwenty.css" />
        <link rel="stylesheet" href="../bower_components/bx-slider.js/dist/jquery.bxslider.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) ../styles/main.css -->
		<link rel="stylesheet" href="../styles/main.css">
		<!-- endbuild -->
		<!-- build:js ../scripts/vendor/modernizr.js -->
		<script src="../bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
		<script type="text/javascript" src="//use.typekit.net/dlv3qjg.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    </head>

    <body class="{{id}}">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->