<div id="map"></div>

<div class="inset panel"><img src="../images/app/nebraska-inset.png" alt=""></div>

<div class="help panel"><i class="fa fa-question fa-3x" data-toggle="modal" data-target="#helper-modal"></i></div>

<div class="modal fade vig-modal" tabindex="-1" role="dialog" aria-labelledby="ccp" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

    <div class="modal fade" id="helper-modal" tabindex="-1" role="dialog" aria-labelledby="helper" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title">Tips for Exploring This Story</h3>
                </div>
                <div class="modal-body">
                    <p>This project is divided into three eras chronicling the evolving history of human settlement, land use and conservation work in the central Platte Valley:</p>

                    <ul>
                        <li><b>Settlement:</b> Early human impacts, westward expansion, homesteading, and changes in the historic river.</li>
                        <li><b>Awareness:</b> The national rise of environmental and social consciousness through the mid-to-late twentieth century.</li>
                        <li><b>Recovery:</b> The complex modern conservation efforts that seek to restore and preserve sections of the central Platte for wildlife.</li>
                    </ul>

                    <p>Begin each section by reading the main text at the bottom of the screen. Click on the the bouncing 'open' button above the headline to read it.</p>

                    <h4>Map</h4>

                    <p>Use your mouse or the buttons on the left to zoom <i class="fa fa-search-plus"></i> in to see detail anywhere on the map.</p>

                    <h4>Story Features</h4>

                    <p>Click <i class="fa fa-hand-o-up"></i> on the pop-up boxes <i class="fa fa-comment-o"></i> to explore stories in each section.</p>

                    <ul>
                        <li><i class="fa fa-camera-retro"></i> Photographs</li>
                        <li><i class="fa fa-play-circle"></i> Video</li>
                        <li><i class="fa fa-map-marker"></i> Maps</li>
                        <li><i class="fa fa-volume-up"></i> Audio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>