 <nav class="navbar-fixed-top navbar-default" id="main-nav" role="navigation">
    
    <a href="../">
        <div class="nav-button pull-left" id="home-icon"><h4><i class="fa fa-home fa-lg"></i></h4></div>
        <div class="nav-button pull-left mama-bear-hide" id="title"><h4>{{title}}</h4></div>
    </a>

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ccp-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="nav-button pull-right" id="home-btn"><h4><a href="http://www.plattebasintimelapse.com">PBT</a></h4></div>

    <div class="nav-button pull-right" id="credit-btn" data-toggle="modal" data-target="#credits-modal"><h4><i class="fa fa-group fa-lg"></i></h4></div>

    <!-- <div class="nav-button pull-right" id="twitter-share">
        <a target="_blank" href="https://twitter.com/share" data-count="none" data-url="http://projects.plattebasintimelapse.com/follow-the-water"><h4><i class="fa fa-twitter fa-lg"></i></h4></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div> -->

    <!-- <div class="nav-button pull-right" id="facebook"><h4><i class="fa fa-facebook fa-lg"></i></h4></div> -->

    <div class="nav-button pull-right" id="instagram"><h4><a target="_blank" href="http://projects.plattebasintimelapse.com/conserve-platte">
        <i class="fa fa-instagram fa-lg"></i>
    </a></h4></div>

    <div class="main-menu collapse navbar-collapse" id="ccp-nav" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="../settlement"><h1>{{nav.one.h1}}</h1><h2>{{nav.one.h2}}</h2></a></li>
            <li><a href="../awareness"><h1>{{nav.two.h1}}</h1><h2>{{nav.two.h2}}</h2></a></li>
            <li><a data-toggle="modal" data-target="#coming-soon-modal" href="#"><h1>{{nav.three.h1}}</h1><h2>{{nav.three.h2}}</h2></a></li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="credits-modal" tabindex="-1" role="dialog" aria-labelledby="credits" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="credits">Credits</h3>
            </div>
            <div class="modal-body">
                <div class="credits team">
                    <p class="credit">Reporting & Writing: <span class="name">Ariana Brocious & Kat Shiffler</span></p>
                    <p class="credit">Video/Stills Editor: <span class="name">Peter Stegen</span></p>
                    <p class="credit">Design & Development: <span class="name">Steven Speicher</span></p>
                    <p class="credit">Videography: <span class="name">Peter Stegen & Kat Shiffler</span></p>
                    <p class="credit">Photography: <span class="name">Michael Forsberg</span></p>
                    <p class="credit">Audio: <span class="name">Ariana Brocious & Emily Kreutz</span></p>
                    <p class="credit">Radio Production: <span class="name">Ariana Brocious & Dave Hughes</span></p>
                    <p class="credit">Mapping: <span class="name">Steven Speicher, Mariah Lundgren & Matt Waite</span></p>
                    <p class="credit">Production Assistants: <span class="name">Joe Arneson & Mariah Lundgren</span></p>
                    <p class="credit">Historical Research: <span class="name">Zoe Mays</span></p>
                    <p class="credit">Editorial Advisor: <span class="name">Matt Waite</span></p>
                    <p class="credit">Transcription: <span class="name">Pat Richmond & Jann Howard</span></p>
                    <p class="credit">Executive Producers: <span class="name">Michael Farrell & Michael Forsberg</span></p>
                </div>

                <div class="credits team">
                    <p class="credit small">Special Thanks: <span class="name">Andy Bishop, Justin Brei, Roger Grosse</span></p>
                    <!-- <p class="credit small">Historical Imagery: <span class="name"><a href="http://www.archives.gov/">The U.S. National Archives and Records Administration</a> & <a href="http://www.nebraskahistory.org/index.shtml">Nebraska State Historical Society</a></span></p> -->
                    <p class="credit small">Satellite Imagery Georeferencing and Stitching: <span class="name"><a href="http://www.fws.gov/">U. S. Fish and Wildlife Service, Rainwater Basin Joint Venture</a></span></p>
                    <p class="credit small">Music: <span class="name"><a href="http://www.dewolfemusic.com/">DeWolfe Music Library: Richard Day, "In the Light;" Erik Wollo, "Slow Spiral," "Controller" </a></span></p>
                </div>

                <div class="credits">
                    <p class="thanks">This project is part of the <a target="_blank" href="http://www.plattebasintimelapse.com">Platte Basin Timelapse</a> project which puts an entire watershed in motion, revealing stories about our most precious resource: <span class="blue">water</span>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DELETE AFTER LAUNCHING PART THREEEEEE!!!!! -->
<div class="modal fade" id="coming-soon-modal" tabindex="-1" role="dialog" aria-labelledby="coming-sson" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="credits" style="text-align:center;">COMING SOON</h3>
            </div>
            <div class="modal-body">
                <div style="text-align:center;">
                    <h2>Join us for the journey during crane season!</h2>
                    <h4>Staring March 25, we'll be publishing the stories of recovery and conservation on the central Platte. Check back regularly through mid-April.</h4>
                    <h4>To get updates, follow us on:</h4>
                    <h3><a target="_blank" href="http://www.facebook.com/plattebasin"><i class="fa fa-facebook-square"></i></a>   <a target="_blank" href="http://www.instagram.com/plattebasin"><i class="fa fa-instagram"></i></a>  <a target="_blank" href="http://www.twitter.com/plattebasin"><i class="fa fa-twitter-square"></i></a> @plattebasin</h3>
                    <h2>Be part of the community!</h2>
                    <h4>Use <b>#conserveplatte</b> in your posts to be featured <a target="_blank" href="http://projects.plattebasintimelapse.com/conserve-platte">on our Instagram feed</a>.</h4>

                </div>
            </div>
        </div>
    </div>
</div>