 <nav class="navbar-fixed-top" id="main-nav" role="navigation">

        <!-- <div class="nav-button pull-left" id="home"><h4></h4></div> -->

        <div class="nav-button pull-left" id="title"><h4><a href="/"><i class="fa fa-home fa-lg"></i> {{title}}</a></h4></div>

        <div class="nav-button pull-right" id="home-btn"><h4><a href="http://www.plattebasintimelapse.com">PBT</a></h4></div>

        <div class="nav-button pull-right" id="credit-btn" data-toggle="modal" data-target="#credits-modal"><h4><i class="fa fa-group fa-lg"></i></h4></div>

        <div class="nav-button pull-right" id="twitter-share">
            <a target="_blank" href="https://twitter.com/share" data-count="none" data-url="http://projects.plattebasintimelapse.com/follow-the-water"><h4><i class="fa fa-twitter fa-lg"></i></h4></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <div class="nav-button pull-right" id="facebook"><h4><i class="fa fa-facebook fa-lg"></i></h4></div>

        <div class="nav-button pull-right" id="instagram"><h4><i class="fa fa-instagram fa-lg"></i></h4></div>

        <div class="main-menu" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="../history"><h1>{{nav.one.h1}}</h1><h2>{{nav.one.h2}}</h2></a></li>
                <li><a href="../problem"><h1>{{nav.two.h1}}</h1><h2>{{nav.two.h2}}</h2></a></li>
                <li><a href="../hope"><h1>{{nav.three.h1}}</h1><h2>{{nav.three.h2}}</h2></a></li>
            </ul>
        </div>
</nav>