<!--(bake partials/header.html title="Settlement" id="one")-->

<div class="container-fluid main-app">

    <!--(bake partials/nav.html _section="main")-->

    <!--(bake partials/map.html)-->

    <div class="modal fade" id="helper-modal" tabindex="-1" role="dialog" aria-labelledby="helper" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title">Tips for Exploring This Story</h3>
                </div>
                <div class="modal-body">
                    <p>This project is divided into three eras chronicling the evolving history of human settlement, land use and conservation work in the central Platte Valley:</p>

                    <ul>
                        <li><b>Settlement:</b> Early human impacts, westward expansion, homesteading, and changes in the historic river.</li>
                        <li><b>Awareness:</b> The national rise of environmental and social consciousness through the mid-to-late twentieth century.</li>
                        <li><b>Recovery:</b> The complex modern conservation efforts that seek to restore and preserve sections of the central Platte for wildlife.</li>
                    </ul>

                    <p>Begin each section by reading the main text at the bottom of the screen. Click on the the bouncing 'open' button above the headline to read it.</p>

                    <h4>Map</h4>

                    <p>Click and drag to explore each map. Use your mouse  or the buttons on the left to zoom <i class="fa fa-search-plus"></i> in to see detail anywhere on the map.</p>

                    <h4>Story Features</h4>

                    <p>Click <i class="fa fa-hand-o-up"></i> on the pop-up boxes <i class="fa fa-comment-o"></i> to explore stories in each section.</p>

                    <ul>
                        <li><i class="fa fa-camera-retro"></i> Photographs</li>
                        <li><i class="fa fa-play-circle"></i> Video</li>
                        <li><i class="fa fa-map-marker"></i> Maps</li>
                        <li><i class="fa fa-volume-up"></i> Audio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel instructions">
        <div class="panel-wrapper">
            <div class="panel-close"><i class="fa fa-close fa-inverse"></i></div>

            <h1 class="panel-title">The 1888 West-Bound Railroad Map in the Central Platte Valley</h1>
            <p>Explore the central Platte valley by clicking and dragging around the map.</p>
            <p>Zoom <i class="fa fa-search-plus"></i> in to see detail. Click <i class="fa fa-hand-o-up"></i> on the popups <i class="fa fa-comment-o"></i> to read stories.</p>

            <p>Map courtesy of <a target="_blank" href="http://libraries.unl.edu/archives-special-collections">UNL Libraries Archives & Special Collections</a></p>
        </div>
    </div>

    <div class="main">
        <div class="main-toggle closed not-yet-opened">
            <i class="fa fa-chevron-circle-up fa-2x"></i>
            <p class="">open</p>
        </div>
        <div class="main-wrapper">
            <!--(bake partials/main-header.html _section="history")-->

            <div class="main-content">
                <div class="main-content-wrapper">
                    <!--(bake partials/main-copy.html _foreach="content:history.content")-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<!--(bake partials/footer.html)-->