<!--(bake partials/header.html title="Settlement" id="one")-->

<div class="container-fluid main-app">

    <!--(bake partials/nav.html _section="main")-->

    <!--(bake partials/map.html)-->

    <div class="panel instructions">
        <div class="panel-wrapper">
            <div class="panel-close"><i class="fa fa-close fa-inverse"></i></div>

            <h1 class="panel-title">Laying Tracks West</h1>
            <p>Explore the central Platte valley through an 1880 Union Pacific Railroad map by clicking and dragging around the map.</p>
            <p>Zoom <i class="fa fa-search-plus"></i> in to see detail. Click <i class="fa fa-hand-o-up"></i> on the popups <i class="fa fa-comment-o"></i> to read stories.</p>

            <p>Map from <a target="_blank" href="http://www.loc.gov/">Library of Congress, Geography & Map Division</a></p>
        </div>
    </div>

    <div class="main">
        <div class="main-toggle closed not-yet-opened">
            <i class="fa fa-chevron-circle-up fa-2x"></i>
            <p class="">open</p>
        </div>
        <div class="main-wrapper">
            <!--(bake partials/main-header.html _section="history")-->

            <div class="main-content">
                <div class="main-content-wrapper">
                    <!--(bake partials/main-copy.html _foreach="content:history.content")-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<!--(bake partials/footer.html)-->
