<!--(bake partials/header.html title="History" id="one")-->

<div class="container-fluid main-app">

    <!--(bake partials/nav.html _section="main")-->

    <div id="map"></div>

    <div class="inset"><img src="../images/nebraska-inset.png" alt=""></div>

    <div class="modal fade vig-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div class="main">
        <div class="main-toggle closed not-yet-opened">
            <i class="fa fa-chevron-circle-up fa-2x"></i>
            <p class="">open</p>
        </div>
        <div class="main-wrapper">
            <!--(bake partials/main-header.html _section="history")-->

            <div class="main-content">
                <!--(bake partials/copy.html _foreach="content:history.content")-->
            </div>
        </div>
    </div>
</div>

<!--(bake partials/footer.html)-->