<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-heder">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="vig-meta clearfix">
                <h4 class="pull-left" id="myModalLabel">{{meta}}</h4>
                <h4 class="vig-location pull-right">{{location}}</h4>
            </div>
        </div>

        <div class="modal-body">
            <p>{{grafs.graf}}</p>
        </div>

        <button class="btn btn-defalt vig-close" data-dismiss="modal" aria-label="Close">Return to Map</button>

    </div>
</div>