<!--(bake partials/header.html title="Recovery" id="three")-->

<div class="container-fluid main-app">

    <!--(bake partials/nav.html _section="main")-->

   <!--(bake partials/map.html)-->

    <div class="panel instructions">
        <div class="panel-wrapper">
            <div class="panel-close"><i class="fa fa-close fa-inverse"></i></div>

            <h1 class="panel-title">Habitat Conservation Collage</h1>
            <p>Various federal, state, and private groups work on habitat conservation in the central Platte Valley today.</p>
            <p>Explore modern conservation land ownership by click and dragging around the map.</p>
            <p>Zoom <i class="fa fa-search-plus"></i> in to see detail. Click <i class="fa fa-hand-o-up"></i> on the popups <i class="fa fa-comment-o"></i> to read stories about restoration work.</p>

            <p>Map data courtesy of <a target="_blank" href="https://www.platteriverprogram.org/Pages/Default.aspx">PRRIP</a></p>
        </div>
    </div>

    <div class="toggle panel" id="ccp-land">
        <div class="panel-wrapper">
            <div class="toggle-btn"><h4>Map Conservation Lands <i class="fa fa-caret-up fa-lg"></i></h4></div>
            <h1 class="panel-title">Conservation Land</h1>
            <p>Toggle on/off conservation lands</p>
            <!-- <select name="ccp-land-select" id="ccp-land-select" style="width: 100%;"> -->
                
            <!-- </select> -->
        </div>
    </div>

    <div class="main">
        <div class="main-toggle closed not-yet-opened">
            <i class="fa fa-chevron-circle-up fa-2x"></i>
            <p class="">open</p>
        </div>

        <div class="main-wrapper">
            <!--(bake partials/main-header.html _section="hope")-->

            <div class="main-content">
                <div class="main-content-wrapper">
                    <!--(bake partials/main-copy.html _foreach="content:hope.content")-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--(bake partials/footer.html)-->