<!--(bake partials/header.html title="Awareness" id="two")-->

<div class="container-fluid main-app">

    <!--(bake partials/nav.html _section="main")-->

    <!--(bake partials/map.html)-->

    <div class="panel instructions">
        <div class="panel-wrapper">
            <div class="panel-close"><i class="fa fa-close fa-inverse"></i></div>
            
            <h1 class="panel-title">A Bird's Eye View</h1>

            <p>Explore the central Platte Valley through aerial imagery from the 1970s by clicking, dragging and zooming into the map.</p>

            <p>This mosaic of aerial imagery is one of 20 georeferenced and stitched image sets completed by the USFWS in 2014. The background blue is the extent of the modern Platte River.</p>

            <p>Zoom <i class="fa fa-search-plus"></i> in to see detail. Click <i class="fa fa-hand-o-up"></i> on the popups <i class="fa fa-comment-o"></i> to read stories.</p>

            <p>Map data courtesy <a target="_blank" href="http://earthexplorer.usgs.gov/">USGS</a>, <a target="_blank" href="http://www.fws.gov/OFFICES/Directory/OfficeDetail.cfm?OrgCode=60156">USFWS</a> & <a target="_blank" href="https://www.platteriverprogram.org/Pages/Default.aspx">PRRIP</a></p>
        </div>
    </div>

    <div class="main">
        <div class="main-toggle closed not-yet-opened">
            <i class="fa fa-chevron-circle-up fa-2x"></i>
            <p class="">open</p>
        </div>
        <div class="main-wrapper">
            <!--(bake partials/main-header.html _section="problem")-->

            <div class="main-content">
                <div class="main-content-wrapper">
                    <!--(bake partials/main-copy.html _foreach="content:problem.content")-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--(bake partials/footer.html)-->