<!--(bake partials/header.html title="Awareness" id="two")-->

<div class="container-fluid main-app">

    <!--(bake partials/nav.html _section="main")-->

    <!--(bake partials/map.html)-->

    <div class="panel instructions">
        <div class="panel-wrapper">
            <h1 class="panel-title">Aerial Imagery in the 1970s Central Platte Valley</h1>

            <p>Explore the 1970's central Platte valley by clicking and dragging around the map.</p>

            <p>This mosaic of aerial imagery is one of 20 georeferenced and stitched image sets, work completed by the USFWS.</p>

            <p>Zoom <i class="fa fa-search-plus"></i> in to see detail. Click <i class="fa fa-hand-o-up"></i> on the popups <i class="fa fa-comment-o"></i> to read stories.</p>

            <h4>Features</h4>
            <ul>
                <li><i class="fa fa-camera-retro"></i> Photographs</li>
                <li><i class="fa fa-play-circle"></i> Video</li>
                <li><i class="fa fa-map-marker"></i> Maps</li>
                <li><i class="fa fa-volume-up"></i> Audio</li>
            </ul>

            <p>Map data from <a target="_blank" href="http://earthexplorer.usgs.gov/">USGS</a>, <a target="_blank" href="http://www.fws.gov/OFFICES/Directory/OfficeDetail.cfm?OrgCode=60156">USFWS</a> & <a target="_blank" href="https://www.platteriverprogram.org/Pages/Default.aspx">PRRIP</a></p>
        </div>
    </div>

    <div class="main">
        <div class="main-toggle closed not-yet-opened">
            <i class="fa fa-chevron-circle-up fa-2x"></i>
            <p class="">open</p>
        </div>
        <div class="main-wrapper">
            <!--(bake partials/main-header.html _section="problem")-->

            <div class="main-content">
                <div class="main-content-wrapper">
                    <!--(bake partials/main-copy.html _foreach="content:problem.content")-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--(bake partials/footer.html)-->